@import 'https://at.alicdn.com/t/font_3282842_zb5k00utom.css';
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html, body {
  width:100%;
  height:100%;
  background-color: rgb(237, 237, 237);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
