.key-board{
 background: rgb(247, 247, 247);
 position: fixed;
 bottom: 0;   
 width: 100%;
 display: flex;
 padding: .6667rem .8rem;
 textarea{
     width: 17.08rem;;
     border: 0;
     outline: none;
     height: 2.4rem;
     resize:none;  
     font-size: 1.5rem;
 }
 .key-tool{

    .iconfont{
        font-size: 2.0rem;
         padding-left: .5333rem;
    }
 }
 .voice{
     font-size: 2.0rem;
     padding-right: .5333rem;
 }
}