.changeNavs {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    bottom: 0px;
    height: 3.75rem;
    width: 100vw;
    border-top: 1px solid rgb(213, 213, 213);
    background-color: white;
    .changeNav {
        span {
            font-size: 1.875rem;
        }
        .clickicon,.clickp {
            color: rgb(2, 197, 94)
        }
        p {
            font-size: .75rem;
            margin-top: .125rem;
        }
    }
    
}