*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.user-list{
    display: flex;
    background:rgb(255, 255, 255);
    .head-img{
        padding:.9333rem .8rem;
        img{
            border-radius:.42rem;
            width: 3.3333rem;
            height: 3.3333rem;
        }
    }
    .user-con{  
         div{
             font-size: .9333rem;
            padding-top: .1333rem;
            width: 14.9067rem;  
            color: rgb(77, 77, 77);
            font-weight: bold;
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow: hidden;   
            }
       p{
            width: 14.9067rem;
            padding-top: .4rem;
            color: rgb(208, 208, 208);
            font-size: 15px;
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow: hidden;   
        }
    }
    .user-box{
        padding: .9333rem .8rem 0px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: .8rem;
        box-shadow: 0 0 0 .0133rem rgb(227, 227, 227);
    }

   .mes-time{
       font-size:.4rem;
       color:rgb(208, 208, 208) ;
   }
}
