.search-IOS {
  width:calc(100% - 18px);
  margin:0 9px;
  height:36px;
  line-height:34px;
  color:#999;
  background-color:#fff;
  text-align:center;
  border-radius:4px;
  cursor:pointer;
  font-family:"iconfont";
}
.search-Android {

}
/*
需要
html,body {
  width:100%;
  height:100%;
}
*/
.search-box {
  width:100%;
  height:100%;
  background-color:#fff;
  position:fixed;
  left:0px;
  top:0px;
  z-index:10;
}
.search-frame {
  width:100%;
  height:100%;
  background-color:#efefef;
}
