.key-board{
 background: rgb(247, 247, 247);
 width: 100%;
 display: flex;
 padding: .6667rem .8rem;
 textarea{
    width: 100%;
     border: 0;
     outline: none;
     resize:none;  
     font-size: 1.4rem;
     max-height: 8rem;
 }
 .ent-tex{
    height: 2.4rem;
    max-height: 8rem;
    width: 17.08rem;
    line-height: 2.4rem;
    overflow: hidden;
    background: white;
 }
 .record-say{
    width: 17.08rem;
    text-align: center;
    background: white;
    line-height: 2.4rem;
 }
 .key-tool{
    .iconfont{
        font-size: 2.0rem;
         padding-left: .5333rem;
    }
 }
//  .icon-131keyboard{
//     font-size: 2.0rem;
//     padding-right: .5333rem;  
//  }
 .voice{
     font-size: 2.0rem;
     padding-right: .5333rem;
 }
}
.hide-emoji{
    position: fixed;
    bottom: 0;   
}
.show-emoji{
    position: fixed;
    bottom: 37.1%;   
}