.changeNavs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 100vw;
    border-top: 1px solid rgb(213, 213, 213);
    background-color: rgb(247, 247, 247);
    .changeNav {
        i {
            font-size: 1.5rem;
            position: relative;
        }
        .clickicon,.clickp {
            color: rgb(2, 197, 94)
        }
        p {
            font-size: .75rem;
            transform: scale(0.75);
        }
    }
}