.button {
  font-family:"iconfont";
  transition:all .2s;
  display:inline-block;
  outline:0px none;
  border-radius:3px;
  overflow:hidden;
  text-align:center;
  &.default {
    font-size:14px;
    height:32px;
    line-height:30px;
    padding:0 15px;
    color:#333;
    border:1px solid #d9d9d9;
    cursor:pointer;
    &:hover,&:visited {
      color:#02c55e;
      border:1px solid #02c55e;
    }
    &:active {
      color:#449450;
      border:1px solid #449450;
    }
    &.danger {
      color:#ff4d4f;
      border:1px solid #ff4d4f;
      &:hover,&:visited {
        color:#ff7875;
        border:1px solid #ff7875;
      }
      &:active {
        color:#d9363e;
        border:1px solid #d9363e;
      }
    }
  }
  &.dashed {
    font-size:14px;
    height:32px;
    line-height:30px;
    padding:0 15px;
    color:#333;
    border:1px dashed #d9d9d9;
    cursor:pointer;
    &:hover,&:visited {
      color:#02c55e;
      border:1px dashed #02c55e;
    }
    &:active {
      color:#449450;
      border:1px dashed #449450;
    }
    &.danger {
      color:#ff4d4f;
      border:1px dashed #ff4d4f;
      &:hover,&:visited {
        color:#ff7875;
        border:1px dashed #ff7875;
      }
      &:active {
        color:#d9363e;
        border:1px dashed #d9363e;
      }
    }
  }
  &.primary {
    font-size:14px;
    height:32px;
    line-height:30px;
    padding:0 15px;
    color:#fff;
    border:1px solid #02c55e;
    background-color:#02c55e;
    &:active {
      border:1px solid #449450;
      background-color:#449450;
    }
    &.danger {
      background-color:#ff4d4f;
      border:1px solid #ff4d4f;
      &:hover,&:visited {
        background-color:#ff7875;
        border:1px solid #ff7875;
      }
      &:active {
        background-color:#d9363e;
        border:1px solid #d9363e;
      }
    }
  }
  &.text {
    font-size:14px;
    height:32px;
    line-height:30px;
    color:#333;
    border:1px solid #00000000;
    cursor:text;
    &.danger {
      color:#ff4d4f;
      &:hover,&:visited {
        color:#ff7875;
      }
      &:active {
        color:#d9363e;
      }
    }
  }
  &.link {
    font-size:14px;
    height:32px;
    line-height:30px;
    color:#02c55e;
    border:1px solid #00000000;
    cursor:pointer;
    &.danger {
      color:#ff4d4f;
      &:hover,&:visited {
        color:#ff7875;
      }
      &:active {
        color:#d9363e;
      }
    }
  }
  &.circle {
    width:32px;
    border-radius:16px;
  }
  &.round {
    border-radius:16px;
  }
  &:disabled {
    color:#00000040 !important;
    border-color:#d0d0d0 !important;
    background-color:#e0e0e0 !important;
  }
}
