.header-bar {
  width:100%;
  /*
  需要box-sizing:border-box;
  */
  .header-title {
    width:100%;
    height:50px;
    line-height:50px;
    padding:0 10px;
    color:#333;
    display:flex;
    .left-btn {
      width:80px;
      font-family:"iconfont";
      .icon-back {
        &:before {
          content:"\e631";
        }
      }
      .icon-close {
        &:before {
          content:"\e607";
        }
      }
    }
    .title {
      text-align:center;
      color:#666;
      flex:1;
    }
    .right-more {
      width:80px;
      text-align:right;
    }
  }
}
